#menuPrincipal{
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.itensMenu{
    display: inline-block;
    color: red;
    padding:10px 130px;
}
